.margin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robato', sans-serif;
}

header {
    background-image: url('images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0,3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    width: 100%;
}

.imageContainer {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    height: 350px;
}

.productImage {
    height: 200px;
    width: 200px;
}

.productImage:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.productTitle {
    height: 30px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.productPrice {
    text-align: left;
}
.add-cart {
    position: bottom;
    width: 50%;
    background-color: lightgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}
.reviewTitle {
    font-weight: bold;
    font-size: large;
}
.testimonialContainer{
    position: center;
    width: 40%;
    text-align: center; 
    margin-left: 30%;
    margin-right: 30%;
}
.imageContainer:hover .cart1,
.imageContainer:hover .cart2,
.imageContainer:hover .cart3,
.imageContainer:hover .cart4,
.imageContainer:hover .cart5,
.imageContainer:hover .cart6,
.imageContainer:hover .cart7,
.imageContainer:hover .cart8,
.imageContainer:hover .cart9,
.imageContainer:hover .cart10 
{ 
    position: bottom;
    width: 50%;
    background-color: lightblue;
    opacity: .8;
}

#testimonial {
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}

body {
    background-color:aliceblue;
}

.productTable {
    margin-left: 5%;
    margin-right: 5%;
}

.bestSellerTable {
    width: 50%; 
    margin-left: 25%; 
    margin-right: 25%;
}

.cart {
    margin-right: 10%;
    float:right;
}

#emptyCart {
    opacity: 0;
}

body {
    color: #222;
    background: #fff;
}
a {
    color: #0033cc;
}

body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme a {
    color: #809fff;
}
